<input type="submit" name="commit" value="Guardar y continuar con el pago" class="continue button primary" data-disable-with="Guardar y continuar">
<br>
<br>
<br>
<h4><%= t("spree.selected_payment_method") + ": " + payment_method.name %></h4>
<hr>
<%= payment_method.description %>
<br>
<% param_prefix = "payment_source[#{payment_method.id}]" %>
<br>
