<footer id="footer" class="sixteen columns" data-hook>
  <div align="center">
    <figure class="" data-hook>
      <%=  image_tag("logo/logo-white.png", :class => "logo") %>
    </figure>
  </div>
  <div class="container">
    <div align="center" class="" data-hook>
      <a target="_blank" href="https://docs.google.com/document/d/18Xcua8YX4ntc9KrMKpvz1XSAGKoayuRfwF_DQw3G37A/edit?usp=sharing">Terminos de servicio</a>
      <a target="_blank" href="https://docs.google.com/document/d/18Xcua8YX4ntc9KrMKpvz1XSAGKoayuRfwF_DQw3G37A/edit?usp=sharing">Politica de privacidad</a>
    </div>
  </div>
  <div class="row" align="center">
    Copyright © 2020. Todos los derechos reservados.
    <br>
    Basado en:  <%= link_to 'Solidus.io', 'http://solidus.io/' %>
  </div>
</footer>
