<nav id="top-nav-bar" class="columns twelve">
  <ul id="nav-bar" class="inline" data-hook>
    <% #render 'spree/shared/locale_selector' %>
    <li id="search-bar" data-hook>
      <%= render partial: 'spree/shared/search' %>
    </li>
    <%= render 'spree/shared/login_bar_items' %>
    <li id="link-to-cart" data-hook>
      <noscript>
        <%= link_to t('spree.cart'), spree.cart_path %>
      </noscript>
      &nbsp;<script>Spree.fetch_cart('<%= j spree.cart_link_path %>')</script>
    </li>
  </ul>
</nav>
